.divPrincipal{
  display: flex;
  flex-direction: row;
  gap: 15px;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  height: 100px;
  background-color: rgb(3, 1, 88, .45);
  border: 2px solid aqua;
  border-radius: 10px;
  position: sticky;
  top: 0;
  z-index: 100; /* Ajusta el valor del z-index según la necesidad */
  padding: 10px;
  margin-top: 10px;

}


.button {
  display: inline-block;
  padding: 12px 24px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  background-color: #ff6c00;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.button:hover {
  background-color: #ff4500;
  transform: scale(1.1);
}

.buttonExit{
  display: inline-block;
  padding: 12px 24px;
  font-size: 22px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  background-color: hsl(357, 100%, 50%);
  border-radius: 6px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.buttonExit:hover {
  background-color: rgb(255, 0, 128);
  transform: scale(1.1);
}

@media screen and (min-width: 320px) {
  .divPrincipal{
    display: flex;
    flex-direction: row;
    gap: 5px;
    width: 90%;
    margin: 4px 0px;
    
  }
  .divButton{
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: flex-end;
  }
  .divSearchButton{
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    justify-content: flex-end;
    align-items: center;
  }
  .button {
    display: inline-block;
    padding: 6px 10px;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color: #ffffff;
    background-color: #ff6c00;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  .buttonExit{
    display: inline-block;
    padding: 6px 10px;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color: #ffffff;
    background-color: hsl(357, 100%, 50%);
    border-radius: 6px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 50px;
    height: 30px;
  }

}

@media screen and (min-width: 609px){
  .divButton{
    flex-direction: row;
    gap: 10px;
    align-items: flex-end;
  }
  .button {
    padding: 8px 14px;
    font-size: 14px;
  }
  .buttonExit{
    padding: 8px 14px;
    font-size: 14px;
    width: 60px;
    height: 40px;
  }
}

@media screen and (min-width: 915px) {
  .divPrincipal{
    justify-content: space-between;
  }
  .divButton{
    gap: 20px;
  }
  .button {
    padding: 12px 24px;
    font-size: 16px;
  }
  .buttonExit{
    padding: 12px 14px;
    font-size: 16px;
    width: 80px;
    height: 50px;
  }
}

@media screen and (min-width: 1221px) {
  .divPrincipal{
    display: flex;
    flex-direction: row;
  }
  .divButton{
    display: flex;
    flex-direction: row;
    gap: 25px;
    justify-content: flex-end;
  }
  .divSearchButton{
    display: flex;
    flex-direction: row;
    gap: 25px;
    justify-content: flex-end;
    align-items: center;
  }

}