.divFondo{
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  background-image: url('../../asset/rick-and-morty-trippy-parallel-universe-qvw8fevdnlpo8xp9.jpg');
  background-size: contain;
}

.divPrincipal{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40%;
  height: 55%;
  background-color: rgb(8, 1, 35, .65);
  padding: 10px;
  border-radius: 12px;
  border: 2px solid aqua;
  box-shadow: 0 8px 6px #e9d2d2e0;
}
.imgTitulo{
  display: flex;
  background-image: url('../../asset/2.jpg');
  background-size: cover;
  height: 400px;
  width: 95%;
  border-radius: 12px;
  box-shadow: 0 6px 6px #e9d2d2e0;
}
.imgTitulo:hover{
  transform: scale(1.3);
}
.divImg{
  margin: 15px 0px 15px 0px;
  width: 60%;
  height: 100%;
  border-radius: 50%;
  background-image: url('../../asset/rick-and-morty.jpg');
  background-size: cover;
  border: 2px solid aqua;
  box-shadow: 0 4px 8px #e9d2d2e0;
}
.divImg:hover{
  transform: scale(1.3);
}

.inputForm{
  width: 100%;
  height: 20px;
  border-radius: 5px;
  border-color: white;
}
.inputForm:hover{
  transform: scale(1.1);
}

.labelForm{
  font-family: 'Get IndieFlower-Regular';
  color:antiquewhite;
  font-size: 3rem;
  text-align: end;
  align-items: center;
  width: auto;
  font-weight: bold;
}

.pError{
  color: red;
  text-align: center;
  font-size: 0.8rem;
  margin: 6px;

}

.divLabelInput{
  display: grid;
  grid-template-columns: auto 70%;
  gap: 5px;
  justify-content: flex-end;
  margin-top: 5px;
  align-items: center;
}

.button {
  font-family: 'Get IndieFlower-Regular';
  display: inline-block;
  padding: 8px 20px;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: #0c0a0a;
  background-color: #ffee00;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-bottom: 0px;
}

.button:hover {
  background-color: #ffbb00;
  transform: scale(1.1)
}

.divRegister{
  font-family: 'Get IndieFlower-Regular';
  display: flex;
  flex-direction: row;
  color: white;
  justify-content: center;
  align-items: center;
  gap: 15px;
  font-size: 1.2rem;
}
.messageLink{
  color: aqua;
  text-decoration: none;
}
.messageLink:hover{
  font-size: 1.3rem;
  color: red;
  text-decoration: underline;
}

/* Estilos para teléfonos móviles pequeños (portrait) */
@media screen and (min-width: 149px) and (max-width:374px){
  /* Agrega tus estilos aquí */
  .divPrincipal{
    width: 300px;
    height: 610px;
    padding: 5px;
  }
  .imgTitulo{
    height: 180px;
    width: 98%;
  }
  .imgTitulo:hover{
    transform: scale(1.06);
  }
  .divImg{
    margin-top: 15px;
    width: 270px;
    /* max-width: 150px; */
    height: 100%;
    border-radius: 50%;
  }
  .divImg:hover{
    transform: scale(1.1);
  }
  .divLabelInput{
    display: grid;
    grid-template-columns: auto auto;
    gap: 5px;
    justify-content: flex-end;
    margin-top: 5px;
  }
  .inputForm{
    width: 200px;
    height: 20px;
  }
  .inputForm:hover{
    transform: scale(1.1);
  }
  .pError{
    font-size: 1.2rem;
  }
  .labelForm{
    font-size: 1.4rem;
  }
}

/* Estilos para teléfonos móviles pequeños (landscape) */
@media screen and (min-width: 375px){
  /* Agrega tus estilos aquí */
  .divPrincipal{
    width: 360px;
    height: 610px;
    padding: 5px;
  }
  .imgTitulo{
    height: 200px;
    width: 92%;
  }
  .imgTitulo:hover{
    transform: scale(1.1);
  }
  .divImg{
    margin-top: 15px;
    width: 299px;
    /* max-width: 150px; */
    height: 100%;
    border-radius: 50%;
  }
  .divImg:hover{
    transform: scale(1.1);
  }
  .divLabelInput{
    display: grid;
    grid-template-columns: auto auto;
    gap: 5px;
    justify-content: flex-end;
    margin-top: 5px;
  }
  .inputForm{
    width: 200px;
    height: 20px;
  }
  .inputForm:hover{
    transform: scale(1.1);
  }
  .pError{
    font-size: 1.5rem;
  }
  .labelForm{
    font-size: 1.7rem;
  }
}

/* Estilos para teléfonos móviles y tablets */
@media screen and (min-width: 768px) and (max-width: 991px) {
  /* Agrega tus estilos aquí */
  .divPrincipal{
    width: 370px;
    height: 610px;
    padding: 5px;
  }
  .imgTitulo{
    height: 220px;
    width: 92%;
  }
  .imgTitulo:hover{
    transform: scale(1.1);
  }
  .divImg{
    margin-top: 15px;
    width: 290px;
    /* max-width: 150px; */
    height: 100%;
    border-radius: 50%;
  }
  .divImg:hover{
    transform: scale(1.1);
  }
  .divLabelInput{
    display: grid;
    grid-template-columns: auto auto;
    gap: 5px;
    justify-content: flex-end;
    margin-top: 5px;
  }
  .inputForm{
    width: 200px;
    height: 20px;
  }
  .inputForm:hover{
    transform: scale(1.1);
  }
}

/* Estilos para tablets y computadoras portátiles */
@media screen and (min-width: 992px) and (max-width: 1199px) {
  /* Agrega tus estilos aquí */
  .divPrincipal{
    width: 370px;
    height: 610px;
    padding: 5px;
  }
  .imgTitulo{
    height: 220px;
    width: 92%;
  }
  .imgTitulo:hover{
    transform: scale(1.1);
  }
  .divImg{
    margin-top: 15px;
    width: 290px;
    /* max-width: 150px; */
    height: 100%;
    border-radius: 50%;
  }
  .divImg:hover{
    transform: scale(1.1);
  }
  .divLabelInput{
    display: grid;
    grid-template-columns: auto auto;
    gap: 5px;
    justify-content: flex-end;
    margin-top: 5px;
  }
  .inputForm{
    width: 200px;
    height: 20px;
  }
  .inputForm:hover{
    transform: scale(1.1);
  }
}

/* Estilos para computadoras de escritorio */
@media screen and (min-width: 1200px) {
  /* Agrega tus estilos aquí */
  .divPrincipal{
    width: 370px;
    height: 610px;
    padding: 5px;
  }
  .imgTitulo{
    height: 220px;
    width: 92%;
  }
  .imgTitulo:hover{
    transform: scale(1.1);
  }
  .divImg{
    margin-top: 15px;
    width: 290px;
    /* max-width: 150px; */
    height: 100%;
    border-radius: 50%;
  }
  .divImg:hover{
    transform: scale(1.1);
  }
  .divLabelInput{
    display: grid;
    grid-template-columns: auto auto;
    gap: 5px;
    justify-content: flex-end;
    margin-top: 5px;
  }
  .inputForm{
    width: 200px;
    height: 20px;
  }
  .inputForm:hover{
    transform: scale(1.1);
  }
  .pError{
    font-size: 2rem;
  }
}
