.divPrincipalCards {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  
}

@media screen and (min-width: 320px){
  .divPrincipalCards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
  }
}

@media screen and (min-width: 1191px){
  .divPrincipalCards{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 445px;
    justify-content: center;
    place-items: center;
  }
}
@media screen and (min-width: 1495px){
  .divPrincipalCards{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: 445px;
    grid-row-end: auto;
    place-items: center;
  }
}
@media screen and (min-width: 1721px){
  .divPrincipalCards{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: 445px;
    place-items: center;
  }
  }
  @media screen and (min-width: 2021px){
    .divPrincipalCards{
      display: grid;
      grid-template-columns: repeat(7, 1fr);
      grid-auto-rows: 445px;
      place-items: center;
    }
}
@media screen and (min-width: 2321px){
  .divPrincipalCards{
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-auto-rows: 445px;
    place-items: center;
  }
}